
body {margin:0;font-family:Arial}
/* 
.topnav {
  overflow: hidden;
  background-color: #fff;
}
.topnav a {
  float: left;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.active {
  background-color: #4CAF50;
  color: white;
font-weight: bold;
}

.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} */
/* Parallax effect */
.parallax {
  /* The image used */
  background-image: url("../../Public/images/backG.jpg");
  opacity: 0.8;

  /* Set a specific height */
  height: 500px;;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header */
.header{
    text-align: center;
    font-weight: 1500;
}
.mainhead{
  font-size: 65px;
  font-weight: bold;
  color: #111;
  opacity: 1.5;
}
.secondmain{
  font-size: 27px;
  color: #f2f2f2;
  opacity: 0.9;
}
#heading2{
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #111;
}
@media screen and (max-width: 600px) {
  .mainhead {
    font-size: 30px;
   opacity: 1;
  }
  .secondmain{
    font-size: 17px;
  }
}
/* Center */
.center {
  margin: auto;
  width: 60%;  
  padding: 15px;
  text-align: center;
  background-color: #111;
}
.centre{
  margin-left: 38%;
}
.search{
  margin-left: 11%;
}
select{
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 16px;
  resize: vertical;
}
@media screen and (max-width: 600px) {
  .centre{
    margin-left: 2%;
    width: 100%;
  }
  .search{
    width: 100%;
    margin-right: 50%;
  }
  select{
    width: 100%;
  }
 }
/* Property Card image */
.propertyCard img{
  height: 170px;
  width: 100%;
  
  /* margin-left: 15%; */
}
 .propertyCard{
  height: 400px;
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 0;
  } 

#PropertyDiv{
  max-width: 70%;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
}


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .propertyCard img{
    height: 120px;
    width: 260px;
  }
  .propertyCard{
    height: 300px;
    width: 100%;
    min-width: 100px;
}
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
.padding{
  padding: 16px;
}
/* Slides */
/* .mySlides {
  display:none;
  align-items: center;
} */

/* LC Studio footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111;
  color: white;
  text-align: center;
}